doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title FRED Data 
  body 
    #myplot 
    script(src="https://cdn.jsdelivr.net/npm/d3@7") 
    script(src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6") 
    script(type="module", src="/scripts/plot.js")
